<div id="<%= dom_id todo_list %>">
  <div>
    <strong>Title:</strong>
    <p id="todo-title"><%= todo_list.title %></p>
  </div>

  <div>
    <strong>Description:</strong>
    <p id="todo-description"><%= todo_list.description %></p>
  </div>

</div>
